<h1 class="mb-6 text-red-500">Setting Form Demo</h1>

<div class="bg-white p-4 mb-6">
  <nz-radio-group [(ngModel)]="size">
    <label nz-radio-button nzValue="small">小（边栏）</label>
    <label nz-radio-button nzValue="default">常规</label>
  </nz-radio-group>
</div>

<div class=" py-6  "
     [ngClass]="{'w-72 bg-white border shadow-lg': size === 'small'}">
  <ml-simple-form #demoForm [schema]="schema"
                  [mlMode]="'setting'"
                  [mlSize]="size"
                  [(value)]="value"
                  [mlHiddenItemWhenDisabled]="true"
  >
    <ng-template mlFormItem="qObject.file1">
      <div class="px-4 py-1 h-10">
        这是自定义组件
      </div>
    </ng-template>
  </ml-simple-form>
</div>

{{value | json}}
